body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #333;
}

input,
button {
  font-family: 'Roboto', sans-serif;
}

.site-container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  color: #333;
  transition: all .2s;
}
.logo:hover {
  text-decoration: none;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .navbar__content {
    display: block;
  }
}

.navbar-info {
  color: rgba(0, 0, 0, 0.5);
  display: flex;
}
@media (max-width: 991px) {
  .navbar-info {
    display: block;
  }
}
@media (max-width: 991px) {
  .navbar-info__item {
    margin-bottom: 7px;
  }
}

.section-block__title {
  text-align: center;
  font-size: 24px;
}
.section-block__files {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .section-block__files {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.input-file {
  width: 50%;
  margin-right: .5rem;
}
@media (max-width: 768px) {
  .input-file {
    width: 100%;
    margin-right: 0;
    margin-bottom: .5rem;
  }
}

.section-block__btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 390px) {
  .section-block__btns button {
    font-size: 12px;
  }
}

.table-pay__header {
  font-weight: bold;
}
@media (max-width: 767px) {
  .table-pay__header {
    display: none;
  }
}
@media (max-width: 767px) {
  .table-pay__row {
    background-color: #f8f9fa;
  }
}

@media (max-width: 767px) {
  .table-pay__col--num {
    display: none;
  }
}

@media (max-width: 767px) {
  .form__input::before {
    content: attr(data-label);
    font-size: 12px;
    margin-bottom: 0.5em;
    display: block;
  }
}

.table-btn {
  width: 35px;
}

.information__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .information__wrapper {
    display: block;
  }
}
.information__label {
  margin-right: 10px;
}
.information__value {
  font-weight: bold;
}

@media (max-width: 991px) {
  .information-item {
    margin-bottom: 10px;
  }
}

.bold {
  font-weight: bold;
}

#balance {
  display: none;
}

.was-validated .form-control:invalid {
  border-color: #dcd135;
  background-image: url(../img/warning.svg);
}

.section-title {
  font-size: 18px;
  font-weight: bold;
}

.table-history {
  font-size: 14px;
}
.table-history th {
  text-align: center;
  vertical-align: middle !important;
}
.table-history td {
  vertical-align: middle;
}
.table-history tfoot {
  color: #000;
  font-weight: bold;
}
.table-history tfoot td {
  padding-top: 2px;
  padding-bottom: 2px;
}

.filther__label {
  font-weight: bold;
  font-size: 14px;
}
.filther input {
  display: block;
  width: 100%;
}

.custom-control-label {
  vertical-align: middle;
}

.custom-control-label::before {
  top: 1px;
}

.custom-control-label::after {
  top: 1px;
}

@media (max-width: 390px) {
  .custom-checkbox {
    font-size: 11px;
  }
}

@media (max-width: 767px) {
  .filther__label {
    text-align: left !important;
  }
}

.main-content {
  flex-grow: 1;
}

/*# sourceMappingURL=style.css.map */
